@charset "utf-8";

body {
    padding-top: 2rem;
}
nav{
    background-color:lightseagreen;
}
.container{
    margin-top:25px;
    margin-bottom:30px;

}
main {
    padding-top: 60px;
}
#footer{
    padding:10px;
    background-color:lightblue;
}
ul{
    list-style-type: none;
}
input[type='radio']{
    margin-right:5px;
}
.text{
    text-indent: 2em;
}
.background-gray-dark{
    background-color: #cccccc;
}
.background-light-blue{
    background-color:lightblue;
}
a{
    color:darkgoldenrod;
    font-size:14px;
}
.radio-inline{
    padding-right:35px;
}
.form-group{
    padding:10px;
}
.item{
    display:none;
}
.website-link {
    display: inline-block;
    width: 72px;
    height: 72px;
    margin: 18px;
}

.website-item {
    width: 36px;
    height: 36px;
}

.website-info {
    margin-top: 10px;
    font-size: 12px;
}

/* 下面开发你的代码 */
#major1,#major2,#major3{
    margin-top:4px;
}
.form-group>div>p{
    margin-bottom:5px;
}
#idea div{
    margin-bottom:14px;
}

#name1_warning,#name2_warning,#name3_warning,#id1_warning,#id2_warning,#id3_warning{
    display:none;
    font-size:14px;
    color:red;
}
