@charset "utf-8";

body {
    padding-top: 2rem;
}
.container{
    margin-top:25px;
    margin-bottom:30px;

}
#footer{
    padding:10px;
    background-color:lightblue;
}
ul{
    list-style-type: none;
}
.text{
    text-indent: 2em;
}
.background-gray-dark{
    background-color: #cccccc;
}
.background-light-blue{
    background-color:lightblue;
}
a{
    color:darkgoldenrod;
    font-size:14px;
}
#name2,#name3,#major2,#major3,#grade2,#grade3{
    margin-top:10px;
    display:none;
}
label{
    padding-right:40px;
}
.form-group{
    padding:10px;
}
.item{
    display:none;
}
/* 下面开发你的代码 */