<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息提交表单</title>
    <link href="../public/stylesheets/信息提交表单.css" rel="stylesheet" />
</head>
<body>
<div class="container">
        <h1 class="title">报名信息表</h1>

        <div class="content">

            <form action="" method="post" onsubmit="return validate()">
                <!--队员信息开始-->
                <h2 class="lead">队员基本信息</h2>
                <hr/>
                    <fieldset id="number">
                        <label>参赛人数<small>（1~3人）</small>
                            <input type="radio" name="options-number" id="options-number1" value="1" class="choose-number" checked/>1人
                            <input type="radio" name="options-number" id="options-number2" value="2" class="choose-number"/>2人
                            <input type="radio" name="options-number" id="options-number3" value="3" class="choose-number"/>3人
                        </label>
                    </fieldset>
                    <!--person1开始-->
                    <fieldset id="person1">
                        <label>
                            姓名<input type="text" class="form-control" id="stu_name1" name="name1"/>
                        </label>

                        <label>
                            学号<input type="text" class="form-control" id="stu_id1" name="id1"/>
                        </label>
                        <div id="major1">
                            <label>专业
                                <input type="radio" name="options-1-major" value="person1-物联网工程" checked/>物联网工程
                                <input type="radio" name="options-1-major" value="person1-网络工程" />网络工程
                                <input type="radio" name="options-1-major" value="person1-软件工程" />软件工程
                                <input type="radio" name="options-1-major" value="person1-计算机科学与技术" />计算机科学与技术
                            </label>
                        </div>
                        <div id="grade1">
                            <label>年级
                                <input type="radio" name="options-1-grade"  value="person1-大一"  checked>大一
                                <input type="radio" name="options-1-grade"  value="person1-大二" >大二
                            </label>
                        </div>
                    </fieldset>
                    <!--person1结束-->
                    <!--person2开始-->
                    <fieldset class="form-group col-md-4" id="person2">
                        <label>姓名
                            <input type="text" name="name2" class="form-control " id="stu_name2"/>
                        </label>
                        <label>学号
                            <input type="text" name="name2" class="form-control" id="stu_id2"/>
                        </label>
                            <div id="major2">
                               <label>专业
                                <input type="radio" name="options-2-major" value="person2-物联网工程" checked/>物联网工程
                                <input type="radio" name="options-2-major" value="person2-网络工程"  />网络工程
                                <input type="radio" name="options-2-major" value="person2-软件工程"  />软件工程
                                <input type="radio" name="options-2-major" value="person2-计算机科学与技术" />计算机科学与技术
                               </label>
                            </div>
                        <div id="grade2">
                            <label>年级
                                <input type="radio" name="options-2-grade"  value="person2-大一"  checked>大一
                                <input type="radio" name="options-2-grade"  value="person2-大二" > 大二
                            </label>
                        </div>
                    </fieldset>
                    <!--person2结束-->
                    <!--person3开始-->
                    <fieldset class="form-group col-md-4" id="person3" >
                        <label>姓名
                            <input type="text" class="form-control stu-name" id="stu_name3"/>
                        </label>
                        <label>学号
                            <input type="text" class="form-control stu-number " id="stu_id3"  />
                        </label>
                        <div id="major3">
                            <label>专业
                                <input type="radio" name="options-3-major" value="person2-物联网工程" checked/>物联网工程
                                <input type="radio" name="options-3-major" value="person2-网络工程"/>网络工程
                                <input type="radio" name="options-3-major" value="person2-软件工程" />软件工程
                                <input type="radio" name="options-3-major" value="person2-计算机科学与技术"/>计算机科学与技术
                            </label>
                        </div>
                        <div id="grade3">
                            <label>年级
                                <input type="radio" name="options-3-grade" id="options-grade1" value="person3-大一" checked>大一
                                <input type="radio" name="options-3-grade" id="options-grade2"  value="person3-大二" > 大二
                            </label>
                        </div>
                    </fieldset>
                    <!--person3结束-->

                <!--队员信息结束-->
                <!--创意开始-->
                <h2 class="lead">参赛创意</h2>
                <hr/>
                <div id="download_place">
                    <span class="download_text">请从此处下载报名表，按报名表格式填写参赛创意，完善参赛资料</span>
                    <button type="button" name="download" value="报名表" id="download_btn">报名表</button>

                </div>

                <div class="agile_info">
                    <input type="file" id="file"/>
                    <div id="file_drag">选择文件上传报名表</div>
                    <div id="messages">
                        <p>请检查并确保参赛信息已填写完整</p>
                    </div>
                </div>
                <div class="submit">
                    <label class="submit_text">
                        <input type="checkbox" class="checkbox">
                        <span>确认报名信息已填写完整</span>
                    </label>
                    <div class="submit_button">
                        <input type="submit" name="submit" value="提交" id="submit_btn">
                    </div>
                    <div class="clear"> </div>
                </div>
            </form>
        </div>
</div>
<script src="../public/lib/jquery-3.2.1.min.js"></script>
<script src="../public/js/entry_form.js"></script>
</body>
</html>